/Main.class
/Main$1.class
/MyThread.class
/WriteThread.class
/Semaphore.class
/ZipFileFolk.class
/ZipFileFolk$Semaphore.class
/ZipFileFolk$WriteThread.class
/Main$Semaphore.class
/Main$WriteThread.class
/Main$ZipFileFolk.class
/WriteThread$Semaphore.class
